<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">WEBSHOP</a>
    <form class="form-inline">
        
    </form>
    <form class="form-inline">
        <button class="btn btn-outline-success" type="button" onclick="location.href='/'">startseite</button>
        <button class="btn btn-outline-success" type="button" onclick="location.href='/loginKunde'">Login Kunde</button>
        <button class="btn btn-outline-success" type="button" onclick="location.href='/loginApotheke'">Login Apotheke</button>
        <button class="btn btn-outline-success" type="button" onclick="location.href='/logout'">Logout</button>

    </form>
</nav>