<div class="startseite">
    <div class="card" style="width: 22rem;margin:0 auto;">
        <div class="card-body" >
            <div class="row justify-content-center">
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/registerApotheke'">Register Apoteke</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/registerkunde'">Register kunde</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/ApothekeAnsicht'" >ApothekeAnsicht</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/KundeAnsicht'" >KundeAnsicht</button>

            </div>
        </div>
    </div>
</div>