{{>header}}
<div class="startseite">
    <div class="card" style="width: 22rem;margin:0 auto;">
        <div class="card-body" >
            <div class="row justify-content-center">
                <p class="text-center"> REGISTER APOTHEKE</p>
                <form>
                     <div class="form-group">
                        <label for="exampleInputEmail1">Apotheke-name</label>
                        <input type="text" name = "nachname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Apotheke-name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email-adresse </label>
                        <input type="email" name = "emailadresse" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">passwort  </label>
                        <input type="text" name = "passwort" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="passwort">
                    </div>
                    <button type="submit" class="btn btn-primary" formmethod="post">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>